@charset "UTF-8";
html {
  background-color: #98C1D9;
}

.App {
  font-size: 125%;
  font-family: "Josefin Sans";
  background-color: #98C1D9;
  color: #141414;
  scroll-behavior: smooth;
}

html {
  background-color: #98C1D9;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrapper {
  max-width: 1728px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  color: #141414;
}
a:hover {
  color: #F7F2E9;
}
a:focus {
  color: #F7F2E9;
}

.button, button {
  cursor: pointer;
  font-size: clamp(0.9375rem, 0.865rem + 0.3623vw, 1.25rem);
  transition: 0.3s;
  padding: 15px;
  min-width: 150px;
  min-height: 38px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #EDD060;
  color: #141414;
  text-align: center;
  font-family: "Josefin Sans";
}
.button:hover, button:hover {
  background-color: #141414;
  color: #F7F2E9;
}
.button:focus, button:focus {
  background-color: #545775;
  color: #F7F2E9;
}

.buttonContainer {
  font-family: "Josefin Sans";
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.welcome .wrapper h1 {
  margin-top: 0px;
  margin: 0 auto;
}
.welcome .wrapper h2 {
  font-size: clamp(1.5625rem, 1.1277rem + 2.1739vw, 3.4375rem);
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
}
@media (max-width: 680px) {
  .welcome .wrapper h2 {
    font-size: clamp(2.1875rem, 1.8976rem + 1.4493vw, 3.4375rem);
  }
}
@media (max-width: 680px) {
  .welcome .wrapper h2 span {
    display: block;
  }
}
.welcome .wrapper .logo {
  width: 40%;
  min-width: 500px;
}
@media (max-width: 680px) {
  .welcome .wrapper .logo {
    width: 80%;
    min-width: 300px;
  }
}

footer {
  background-color: #545775;
  margin-bottom: 0px;
  padding-top: 5px;
  height: 10vh;
  bottom: 0;
  right: 0;
  left: 0;
}
footer p {
  font-size: clamp(0.9375rem, 0.865rem + 0.3623vw, 1.25rem);
  margin: 0;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
footer .wrapper .creatives {
  color: #F7F2E9;
}
footer .wrapper .creatives a {
  color: #F7F2E9;
}
footer .wrapper .creatives a:hover {
  color: #EDD060;
}
footer .wrapper .creatives a:focus {
  color: #EDD060;
}
@media (max-width: 680px) {
  footer .button {
    min-width: 90px;
    min-height: 25px;
    padding: 8px;
  }
}

.landingPage nav {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.landingPage nav .navLogo {
  width: 10%;
  min-width: 117px;
  margin-top: 30px;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86vh;
}
.forms h3 {
  font-size: 5rem;
  text-align: center;
  line-height: 7rem;
  margin: 0 auto;
}
@media (max-width: 680px) {
  .forms h3 {
    font-size: clamp(3.125rem, 2.1105rem + 5.0725vw, 7.5rem);
    line-height: 6rem;
  }
}
.forms h3 span {
  font-size: 4rem;
  display: block;
  font-weight: 300;
  font-size: clamp(2.5rem, 2.2101rem + 1.4493vw, 3.75rem);
}
@media (max-width: 680px) {
  .forms h3 span {
    margin-top: 20px;
    line-height: 4.5rem;
  }
}
.forms form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms form input {
  border-radius: 5px;
  border: 2px solid transparent;
  font-family: "Josefin Sans";
  padding: 5px;
  text-align: center;
  width: 25%;
  min-width: 250px;
  margin-top: 30px;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.forms form input:focus {
  border: 2px solid #EDD060;
  outline: none;
}
.forms form button {
  padding: 5% 10%;
}

.gif {
  background-color: #98C1D9;
}
.gif .gifContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.gif form {
  border: none;
}
.gif .buttonContainer {
  display: flex;
  gap: 10px;
}
.gif .select {
  display: flex;
}
.gif fieldset {
  border: none;
}
.gif .radio {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 300px;
  height: 300px;
  background: #98C1D9;
  padding: 0;
  margin: 4px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  transition: all 0.1s ease 0.1s;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.6));
  cursor: pointer;
  opacity: 0.8;
}
.gif .radio:hover {
  filter: none;
  opacity: 1;
}
.gif .radio:checked {
  opacity: 1;
  box-shadow: none;
  filter: drop-shadow(12px 12px 10px rgba(0, 0, 0, 0.7));
}

.results {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #98C1D9;
  gap: 15px;
}
.results .resultsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
}
.results p {
  text-align: center;
  font-size: clamp(2.8125rem, 2.74rem + 0.3623vw, 3.125rem);
  margin: 0;
}
.results .resultsButtonContainer {
  display: flex;
}

.timeline nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  background-color: transparent;
  width: 10%;
}
.timeline nav .navLogo {
  margin: 20px;
}
@media (max-width: 680px) {
  .timeline nav .navLogo {
    margin: 20px 0;
  }
}
@media (max-width: 680px) {
  .timeline nav {
    width: 25%;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .timeline nav {
    width: 45%;
  }
}
.timeline .roundScroll {
  border-radius: 25px;
  overflow: hidden;
}
.timeline .roundScroll h2 {
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}
.timeline .linkBack {
  margin: 0px 20px 20px 20px;
}

.timelineContainer {
  background-color: #EBEBEB;
  border-radius: 25px;
  display: flex;
  height: 650px;
  flex-wrap: nowrap;
  overflow-y: hidden;
  scrollbar-color: #EDD060 #EBEBEB;
  border: none;
  position: relative;
}
@media (max-width: 950px) {
  .timelineContainer {
    height: 550px;
    margin-top: 35px;
  }
}
@media (max-width: 680px) {
  .timelineContainer {
    flex-direction: column;
    overflow-y: visible;
    overflow-x: hidden;
  }
}
.timelineContainer::-webkit-scrollbar {
  background: #EBEBEB;
}
.timelineContainer::-webkit-scrollbar-thumb {
  background: #EDD060;
  border-radius: 25px;
}
.timelineContainer::-webkit-scrollbar-track {
  border-radius: 25px;
  border: 1px solid black;
}
.timelineContainer .timelineItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
  position: relative;
}
.timelineContainer .timelineItems img {
  height: 300px;
  width: 300px;
  z-index: 2;
}
@media (max-width: 950px) {
  .timelineContainer .timelineItems img {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 450px) {
  .timelineContainer .timelineItems img {
    height: 160px;
    width: 160px;
  }
}
.timelineContainer .timelineItems::before {
  content: "";
  position: absolute;
  top: 33px;
  height: 6px;
  width: 120%;
  background: #545775;
}
@media (max-width: 680px) {
  .timelineContainer .timelineItems::before {
    transform: rotate(90deg);
    z-index: 0;
  }
}

.dateContent {
  background-color: #EDD060;
  border-radius: 25px;
  z-index: 10;
}
.dateContent h3 {
  margin: 0 auto;
  padding: 10px 15px;
}

.moodCard {
  background-color: white;
  border: 1px solid #141414;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  position: relative;
  z-index: 5;
}
@media (max-width: 950px) {
  .moodCard {
    width: 300px;
  }
}
@media (max-width: 680px) {
  .moodCard {
    margin: 20px 0px;
  }
}
@media (max-width: 450px) {
  .moodCard {
    width: 250px;
  }
}
.moodCard .fa-caret-down {
  position: absolute;
  top: -40px;
  font-size: 2.5rem;
  color: #EDD060;
}
.moodCard h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 10px;
  margin-top: 15px;
}
@media (max-width: 450px) {
  .moodCard h4 {
    font-size: 1.25rem;
  }
}
.moodCard h4 span {
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px #EDD060;
}
@media (max-width: 450px) {
  .moodCard h4 span {
    font-size: 1.5rem;
  }
}

.timelineButtons {
  display: flex;
  justify-content: center;
  align-items: baseline;
  z-index: 2;
}
.timelineButtons button {
  padding: 0px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.scrollInst {
  margin-top: 20px;
  font-size: 1.5rem;
  -webkit-animation: move 2s linear infinite;
          animation: move 2s linear infinite;
  position: relative;
}
@media (max-width: 680px) {
  .scrollInst {
    -webkit-animation: moveUpDown 2s linear infinite;
            animation: moveUpDown 2s linear infinite;
  }
}
.scrollInst::after {
  content: "→";
  font-size: 3.5rem;
  position: absolute;
  top: -12px;
}
@media (max-width: 680px) {
  .scrollInst::after {
    transform: rotate(90deg);
    font-size: 1.5rem;
    top: -3px;
  }
}

@-webkit-keyframes move {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes moveUpDown {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.meetTheDevs {
  min-height: 110vh;
  background-color: rgb(235, 235, 235);
}
.meetTheDevs h2 {
  padding: 20px;
}
.meetTheDevs li.bio {
  margin-bottom: 10px;
  min-height: 65vh;
}
.meetTheDevs .linkBox {
  padding-top: 20px;
}
.meetTheDevs .linkBox a:hover {
  color: #545775;
}
.meetTheDevs h2 {
  margin: 0;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  font-size: clamp(1.25rem, -1.0938rem + 7.5vw, 3.125rem);
}
.meetTheDevs h3 {
  margin: 5px;
  font-size: clamp(0.75rem, 0.125rem + 2vw, 1.25rem);
}
.meetTheDevs i {
  margin-right: 10px;
  color: #545775;
}
.meetTheDevs .bioContainer {
  display: flex;
  margin: 0;
}
@media (max-width: 950px) {
  .meetTheDevs .bioContainer {
    flex-direction: column;
    gap: 10px;
  }
  .meetTheDevs .bioContainer .bottomRow {
    margin-left: 10px;
  }
}
.meetTheDevs .bioContainer .topRow,
.meetTheDevs .bioContainer .bottomRow {
  display: flex;
  justify-content: space-evenly;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
}
@media (max-width: 950px) {
  .meetTheDevs .bioContainer .topRow,
.meetTheDevs .bioContainer .bottomRow {
    justify-content: center;
    margin-bottom: 0px;
  }
}
@media (max-width: 680px) {
  .meetTheDevs .bioContainer .topRow,
.meetTheDevs .bioContainer .bottomRow {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-left: 0px;
  }
}
.meetTheDevs .bioContainer p {
  font-size: clamp(0.625rem, 0.4688rem + 0.5vw, 0.75rem);
}
.meetTheDevs .bioContainer img {
  width: 59%;
  border-radius: 50%;
  display: block;
}
@media (max-width: 950px) {
  .meetTheDevs .bioContainer img {
    width: 30%;
  }
}
@media (max-width: 680px) {
  .meetTheDevs .bioContainer img {
    width: 50%;
  }
}
.meetTheDevs .bioContainer .picContainer {
  position: relative;
  width: 60%;
}
.meetTheDevs .bioContainer .picContainer .profile {
  display: block;
  width: 100%;
}
.meetTheDevs .bioContainer .picContainer .overlayGif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.meetTheDevs .bioContainer .picContainer .overlayGif:hover {
  opacity: 1;
}
.meetTheDevs .bioContainer .bio {
  width: 45%;
  padding: 5px 20px;
  transition: 0.2s ease;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 950px) {
  .meetTheDevs .bioContainer .bio {
    width: 40%;
  }
}
@media (max-width: 680px) {
  .meetTheDevs .bioContainer .bio {
    width: 70%;
  }
}

.notFound {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notFound .internal {
  color: #F7F2E9;
  text-align: center;
  background-color: rgba(41, 40, 40, 0.72);
  height: 50vh;
  min-height: 480px;
  width: 50vw;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
}
.notFound .internal h2 {
  margin: 0px;
  font-size: 20rem;
}
.notFound .internal p {
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 5px;
}

.lostImg {
  position: absolute;
  right: 0;
  bottom: 70px;
}
.lostImg img {
  width: 550px;
}/*# sourceMappingURL=styles.css.map */