@use "./variables" as *;
@use "./mixins" as *;

footer {
    background-color: $tertiaryColor;
    margin-bottom: 0px;
    padding-top: 5px;
    height: 8vh;
    .wrapper {
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        .creatives {
            color: $white;
            a {
                color: $white;
                &:hover {
                    color: $accentColor;
                }
                &:focus {
                    color: $accentColor;
                }
            }
        }
    }
}