@use "./variables" as *;
@use "./mixins" as *;

.forms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86vh;
    h3 {
        font-size: 5rem;
        text-align: center;
        line-height: 7rem;
        margin: 0 auto;
        @include mobileLarge {
            font-size: clamp(3.75rem, 2.8804rem + 4.3478vw, 7.5rem);
            line-height: 6rem;
        }
        span {
            font-size: 4rem;
            display: block;
            font-family: $logoFont;
            @include mobileLarge {
                font-size: clamp(3.75rem, 3.5326rem + 1.087vw, 4.6875rem);
                margin-top: 20px;
                line-height: 4.5rem;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            border-radius: 5px;
            border: 2px solid transparent;
            font-family: $bodyFont;
            padding: 5px;
            text-align: center;
            width: 25%;
            min-width: 250px;
            margin-top: 30px;
            font-size: 1.5rem;
            margin-bottom: 30px;
            &:focus {
                border: 2px solid $accentColor;
                outline: none;
            }
        }
        button {
            padding: 5% 10%;
        }
    }
}