@use "./variables" as *;
@use "./mixins" as *;

.gif {
    background-color: $primaryColor;
    
    h2 {
        font-weight: 300;
        text-align: center;
        font-size: clamp(1.875rem, 1.4402rem + 2.1739vw, 3.75rem);
    }
    .gifContainer {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px;
    }

    form {
        border: none;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        gap: 10px;
        
        @include mobile {
            margin-bottom: 100px;
        }
        @include mobileLarge {
            margin-bottom: 100px;
            margin-top: 50px;
            flex-direction: column;
        }
    }

    .select {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    fieldset {
        border: none;
    }
    
    .radio {
        display: block;
        appearance: none;
        width: 300px;
        height: 300px;
        background: $primaryColor;
        padding: 0;
        margin: 10px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center center;
        border: 0;
        transition: all 0.1s ease 0.1s; 
        cursor: pointer;
        opacity: 0.7;
        @include mobile {
            background-size: 100px 100px;
            max-height: 250px;
            max-width: 250px;
            }
            &:hover {
                filter: none;
                opacity: 1.5;
            }
            &:checked {
                opacity: 1.5;
                box-shadow: 13px 13px 7px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 13px 13px 7px 0px rgba(0,0,0,0.75);
            }
        }
    }  
