@use "./variables" as *;
@use "./mixins" as *;

.gif {
    //height: 100vh;
    background-color: $primaryColor;
    
    .gifContainer {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    form {
        border: none;
    }

    .buttonContainer {
        display: flex;
        gap: 10px;
    }

    .select {
        display: flex;
    }

    fieldset {
        border: none;
    }
    
    .radio {
        display: block;
        appearance: none;
        width: 300px;
        height: 300px;
        background: $primaryColor;
        padding: 0;
        margin: 4px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center center;
        border: 0;
        transition: all 0.1s ease 0.1s; 
        filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.6));
        cursor: pointer;
        opacity: 0.8;
       
        &:hover {
            filter: none;
            opacity: 1;
        }
        &:checked {
            opacity: 1;
            box-shadow: none;
            filter: drop-shadow(12px 12px 10px rgba(0, 0, 0, 0.7));
            //border: 5px solid red;
            // box-shadow:
            // 1px 1px $tertiaryColor,
            // 2px 2px $tertiaryColor,
            // 3px 3px $tertiaryColor;
            // -webkit-transform: translateX(-3px);
            // transform: translateX(-3px);
           
            
        }
    }  
}