@use "./variables" as *;
@use "./mixins" as *;

.gif {
    background-color: $primaryColor;
    
    .gifContainer {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px;
    }

    form {
        border: none;
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        
        @include mobile {
            margin-bottom: 100px;
        }
        @include mobileLarge {
            margin-bottom: 100px;
            margin-top: 50px;
        }
    }

    .select {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include mobile {
            padding: 10px;
        }
    }

    fieldset {
        border: none;
    }
    
    .radio {
        display: block;
        appearance: none;
        width: 300px;
        height: 300px;
        background: $primaryColor;
        padding: 0;
        margin: 10px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center center;
        border: 0;
        transition: all 0.1s ease 0.1s; 
        cursor: pointer;
        opacity: 0.8;
        @include mobile {
            background-size: 100px 100px;
            max-height: 250px;
            max-width: 250px;
                
            }
        }
       
        &:hover {
            filter: none;
            opacity: 1;
        }
        &:checked {
            opacity: 1;
            box-shadow: none;
            filter: drop-shadow(20px 20px 7px rgba(0, 0, 0, 0.7));
        }
    }  
