@use "./variables" as *;
@use "./mixins" as *;


.App {
    font-size: 125%;
    font-family: $bodyFont;
    background-color: $primaryColor;
    color: $secondaryColor;
    //height: 100vh;
    min-height: 700px;
    scroll-behavior: smooth;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrapper {
  max-width: 1728px;
  width: 90%;
  margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    color: $secondaryColor;
    &:hover {
        color: $white;
    }
    &:focus {
        color: $white;
    }
}

.button, button {
  cursor: pointer;
  font-size: clamp(0.5rem, -0.4375rem + 3vw, 1.25rem);
  transition: 0.3s;
  padding: 15px;
  min-width: 150px;
  min-height: 38px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: $accentColor;
  color: $secondaryColor;
  &:hover {
    background-color: $secondaryColor;
    color: $white;
  }
  &:focus {
    background-color: $tertiaryColor;
    color: $white;
  }
}

.buttonContainer {
    font-family: $bodyFont;
}