@use "./variables" as *;
@use "./mixins" as *;

.landingPage {
    nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        .navLogo {
            width: 10%;
            min-width: 117px;
            margin-top: 30px;
        }
    } 
}