@use "./variables" as *;
@use "./mixins" as *;

.landingPage {
    nav {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
       
        h2 {
        margin-top: 0px;
        font-family: "always-forever";
        font-size: 3.5rem;
        padding-top: 5%;
        }
        .navLogo {
            width: 10%;
            min-width: 117px;
            margin-top: 30px;
        }
    } 
}