@use "./variables" as *;
@use "./mixins" as *;

.landingPage {
    //height: 92vh;
    height:fit-content;
    nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        h2 {
        margin-top: 0px;
        font-family: "always-forever";
        font-size: 3.5rem;
        padding-top: 5%;
        }
    } 
}