@use "./variables" as *;
@use "./mixins" as *;

.notFound {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .internal {
        color: $white;
        text-align: center;
        background-color: rgba(41, 40, 40, 0.72);
        height: 50vh;
        min-height: 480px;
        width: 50vw;
        margin: 0 auto;
        border-radius: 25px;
        position: relative;
        @include mobileLarge{
            min-height: 400px;
        }
        @include mobile{
            width: 80vw;
        }
        h2 {
            margin: 0px;
            font-size: 20rem;
            @include tablet{
                font-size: 15rem;
            }
            @include mobileLarge{
                font-size: 10rem;
            }
        }
        p {
            font-size: 2.5rem;
            margin-top: 0px;
            margin-bottom: 5px;
            @include tablet{
                font-size: 1.8rem;
            }
            @include mobileLarge{
                font-size: 1.5rem;
            }
        }
    }
}

.lostImg {
    position: absolute;
    right: 0;
    bottom: 70px;
    @include tablet{
        right: -100px;
    }
    @include mobileLarge{
        right: 90px;
    }
    @include mobile{
        right: 0px;
    }
    img {
        width: 550px;
        @include tablet{
            width: 480px;
        }
        @include mobileLarge {
            max-width: 360px;
        }
    }
}