@use "./variables" as *;
@use "./mixins" as *;

.timeline {

    nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        h2 {
        margin-top: 0px;
        font-family: "always-forever";
        font-size: 3.5rem;
        padding-top: 5%;
        }
    } 
}

.timelineTest {
    width: fit-content;
}

.timelineContainer {
<<<<<<< HEAD
    background-color: $primaryColor;
=======
    background-color: $tertiaryColor;
>>>>>>> 4d36eba5da5d4401cbae752ca7918860eed3ac1f
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    scrollbar-color: $accentColor $primaryColor;
<<<<<<< HEAD
    &::-webkit-scrollbar {
        background: $primaryColor;
        
    }
=======

    &::-webkit-scrollbar {
        background: $primaryColor;

    }

>>>>>>> 4d36eba5da5d4401cbae752ca7918860eed3ac1f
    &::-webkit-scrollbar-thumb {
        background: $accentColor;
        border-radius: 25px;
    }
<<<<<<< HEAD
    .timelineItems {
        width: 500px;
        background-color: $primaryColor;
        margin: 30px;
    }
}
=======

    .timelineItems {
        width: 500px;
        background-color: white;
        margin: 30px;
    }
}
    
>>>>>>> 4d36eba5da5d4401cbae752ca7918860eed3ac1f
