@use "./variables" as *;
@use "./mixins" as *;

.welcome {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 90vh;
        h1 {
        margin-top: 0px;
        margin: 0 auto;
        }
        h2 {
            font-size: clamp(1.5625rem, 1.1277rem + 2.1739vw, 3.4375rem);
            font-weight: 300;
            letter-spacing: 3px;
            text-align: center;
            @include mobileLarge {
                font-size: clamp(2.1875rem, 1.8976rem + 1.4493vw, 3.4375rem);
            }
            span {
                @include mobileLarge {
                    display: block;
                }
            }
        }
        .logo {
            width: 50%;
            min-width: 500px;
            @include mobileLarge {
                width: 80%;
                min-width: 300px;
            }
        }
    }
}