.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.results {
  display: flex;
  flex-direction: column;
}

.gifContainer {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.gif {
  width: 350px;
  height: 350px;
}

/* .select {
  border: none;
  background-color: transparent;
  padding: 25px;
}

.select:hover {
  border: 2px solid red;
} */

.buttonContainer {
  align-self: center;
}


.radio-image {
  width: 60px;
  padding: 20px 40px;
  background-color: white;
}

/* .radio-hidden:checked~.radio-image {
  opacity: 0.6;
  transform: scale(1.1);
} */

.radio-hidden {
  position: absolute;
  visibility: hidden;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
